@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply text-balance;
  }

  h1 {
    @apply text-5xl mb-3 font-medium;
  }
  h2 {
    @apply text-2xl text-center mb-3;
  }
  h3 {
    @apply text-xl;
  }
  p {
    @apply mb-6;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 0 0 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0 0;
    --foreground: 0 0 100%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 0 0 100%;
    --popover: 0 0 0;
    --popover-foreground: 0 0 100%;
    --primary: 0 0 100%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 0, 0%, 11%;
    --secondary-foreground: 0 0 100%;
    --muted: 0, 0%, 11%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 0, 0%, 11%;
    --accent-foreground: 0 0 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0 100%;
    --border: 0, 0%, 11%;
    --input: 0, 0%, 11%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer components {
  .mesh-gradient-container {
    @apply fixed z-[-1] w-full h-screen left-1/2 transform -translate-x-1/2 max-w-screen-xl;
  }
  .mesh-gradient {
    @apply opacity-25 rounded-full blur-2xl size-128 absolute transform;
  }

  header .indicator {
    @apply size-1.5 rounded-full bg-gradient-to-r from-purple-500 to-orange-500 absolute bottom-0.5 left-1/2 transition duration-300  transform -translate-x-[6.6875rem] visible;
  }

  header ul li[data-to-scrollspy-id="projects"].active-scroll-spy ~ .indicator {
    @apply transform -translate-x-1/2 visible;
  }
  header ul li[data-to-scrollspy-id="about-me"].active-scroll-spy ~ .indicator {
    @apply transform -translate-x-[6.6875rem] visible;
  }
  header ul li[data-to-scrollspy-id="contact"].active-scroll-spy ~ .indicator {
    @apply transform translate-x-[6.5rem] visible;
  }

  .card--experience {
    @apply size-14 md:size-16 !important;
  }

  .card--experience .iconify {
    @apply p-1.5 md:p-2;
  }

  .link .iconify,
  .stacked-list .card--experience {
    @apply size-9 !important;
  }

  .stacked-list .card--experience .iconify {
    @apply p-1;
  }
  .card--glass {
    @apply rounded-xl md:rounded-2xl;
  }
  textarea.card--glass,
  input.card--glass {
    @apply p-3 rounded-xl block;
  }
  input,
  textarea,
  button {
    @apply focus-visible:outline outline-zinc-500 placeholder:text-zinc-400 font-light;
  }
  input + textarea,
  input + input {
    @apply mt-3;
  }
}

.card--glass {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.03);
}

section {
  min-height: calc(100vh - 5rem);
  scroll-margin-top: 5rem;
}

section + section {
  margin-top: 5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
