@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply text-balance;
  }

  main {
    @apply pt-2 md:pt-[3.25rem];
  }
  section {
    @apply py-14;
  }
  h1 {
    @apply text-2xl text-center mb-3;
  }
  h2 {
    @apply text-xl;
  }
  p {
    @apply font-light mb-6;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .mesh-gradient-container {
    @apply fixed z-0 w-full h-screen left-1/2 transform -translate-x-1/2 max-w-screen-xl;
  }
  .mesh-gradient {
    @apply opacity-25 rounded-full blur-2xl size-128 absolute transform;
  }

  header .indicator {
    @apply size-1.5 rounded-full bg-gradient-to-r from-purple-500 to-orange-500 absolute bottom-0.5 left-1/2 transition duration-300  transform -translate-x-[6.6875rem] visible;
  }

  header ul li[data-to-scrollspy-id="projects"].active-scroll-spy ~ .indicator {
    @apply transform -translate-x-1/2 visible;
  }
  header ul li[data-to-scrollspy-id="about-me"].active-scroll-spy ~ .indicator {
    @apply transform -translate-x-[6.6875rem] visible;
  }
  header ul li[data-to-scrollspy-id="contact"].active-scroll-spy ~ .indicator {
    @apply transform translate-x-[6.5rem] visible;
  }

  .card--experience {
    @apply size-14 md:size-16 !important;
  }

  .card--experience .iconify {
    @apply p-1.5 md:p-2;
  }

  .stacked-list .card--experience {
    @apply size-8 !important;
  }

  .stacked-list .card--experience .iconify {
    @apply p-1;
  }
  .card--glass {
    @apply rounded-xl md:rounded-2xl;
  }
  textarea.card--glass,
  input.card--glass {
    @apply p-3 rounded-xl block;
  }
  input,
  textarea,
  button {
    @apply focus-visible:outline outline-zinc-500 placeholder:text-zinc-400 font-light;
  }
  input + textarea,
  input + input {
    @apply mt-3;
  }
}

.card--glass {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.03);
}

section,
.hero {
  min-height: calc(100vh - 3.25rem);
}
section {
  scroll-margin-top: 3.25rem;
}
